#check
{
	display: none;
}

.checkbtn
{
	display: none; 
	font-size: 40px; 
	color: var(--text-color); 
	cursor: pointer;
	order: 2;
	margin-left: auto;
	padding: 10px;
	transition: color 0.3s ease; 
}

.checkbtn:hover
{
	color: var(--hover-color); 
}

@media (max-width: 1070px) 
{
	.checkbtn 
	{
		display: block;
		color: white;
		order: 1;
		margin-right: 20px;
	}

	nav ul 
	{
		position: fixed;
		top: 80px;
		right: -100%;
		background-color: green;
		width: 100%;
		height: calc(100vh - 80px); /* Adjust height to account for navbar */
		display: flex;
		flex-direction: column;
		justify-content: flex-start; /* Align items to the top */
		align-items: center;
		transition: all 0.3s;
		overflow-y: auto; /* Enable vertical scrolling */
		padding-top: 20px; /* Add padding at the top */
	}

	nav ul li 
	{
		margin: 20px 0;
	}

	nav ul li a 
	{
		font-size: 20px;
	}

	#check:checked ~ ul
	{
		right: 0;
	}
}